  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

  }

  header{
    margin-bottom: 100px;
  }
  

  body{
    overflow-x: hidden;
  }

  .section-p1 {
      padding: 40px 80px;
  }

  .overlay{
    width: 100vw;
    height: 70vw;
    position: absolute;
    top: 0px;
  }

  .text-container{
    position: absolute;
    left:50%;
    top: 50%;
    transform:translate(-50%, -50%);
  }

  .heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: black;
  }

  .subheading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25pt;
    font-style: italic;
    color: black;
  }

  
  nav {
      width: 100%;
      height: 120px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: absolute;
      background-color: #b36000;
      top: 0;
  }

  nav .logo {
      margin: 0px 30px;
      font-size: 30px;
      font-family: Verdana, sans-serif;
      color: snow;
      flex: 1;
  }

  nav input {
      display: none;
  }

  nav label {
      cursor: pointer;
      order: 1;
      display: none;
      flex-direction: column;
  }

  nav label .f-line {
      width: 40px;
      height: 5px;
      background-color: snow;
      transition: .3s all ease-in-out;
  }

  nav label .s-line {
      width: 30px;
      height: 5px;
      background-color: white;
      transition: .3s all ease-in-out;
      margin-top: 5px;
  }

  nav label .t-line {
      width: 20px;
      height: 5px;
      background-color: white;
      transition: .3s all ease-in-out;
      margin-top: 5px;
  }

  nav label:hover .s-line {
      margin-left: 10px;
      background-color: darkblue;
  }

  nav label:hover .t-line {
      margin-left: 20px;
  }

  nav ul {
      display: flex;
      margin-right: 100px;
  }

  nav ul li {
      list-style: none;
      margin-right: 20px;
  }

  nav ul li a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      padding: 5px;
      font-size: 18px;
      position: relative;
      display: flex;
      flex-direction: column;
  }

  nav ul li a::after {
      content: "";
      position: relative;
      width: 100%;
      height: 3px;
      background-color: #b36000;
  }

  nav ul li a:hover,
  nav ul li .active {
      color: whitesmoke;
      transition: .2s all ease-in-out;
  }

  nav ul li a:hover::after {
      content: "";
      position: relative;
      width: 100%;
      height: 3px;
      background-color: #f88501;
      animation: underline .5s;
  }

  .bd{
    background-color: #b36000;
  }

  .about-section{
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: auto;
  }

  .about-section h1{
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
  }

  .about-section p{
    text-align: justify;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
.c1{
    height: 20px;
        position: relative;
       border: 3px transparent;
} 

.btn a {
    background-color: transparent;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #b36000;
    text-align: center;
    transition: all 0.2s;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 120px;
    margin-bottom: 30px;
}

.btn a:hover {
    color: #FFFFFF;
    background-color: #b36000;
}
  .button1{
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.2s;
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: 20px;
        margin-bottom: 30px;
  }

   .button1:hover{
    color: #000000;
    background-color: #FFFFFF;
  }

  #feature {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  #feature .fe-box {
      width: 180px;
      text-align: center;
      padding: 25px 15px;
      box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
      border: 4px solid #fff;
      border-radius: 4px;
      margin: 15px 0;
  }

  #feature .fe-box:hover {
      box-shadow: 10px 10px 54px rgba(255, 204, 0, 0.721);
  }

  #feature .fe-box h6 {
      padding: 9px 8px 6px 8px;
      line-height: 1;
      border-radius: 4px;
      color: #b36000;
      background-color: white;
  }

  #feature .fe-box img {
      width: 100%;
      margin-bottom: 10px;
  }

  #product1 {
      text-align: center;
  }

  #product1 h2{
    font-size: 50px;
    font-weight: bold;
  }

  #product1 p{
    font-size: 25px;
    font: optional;
    font-style: italic;
  }

  .banner1
  {
    height: 30vh;
  }

  .banner1 .content{
    align-items: center;
    text-align: center; 
  }
  
  .new h1{
    color: #0b3250;
    text-align: center;
    font-size: 30px;
    font-weight: 500;

  }


  .new h3{

    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;

  }

  .new p{
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .new span{
    color: whitesmoke;
  }
.content h4{
    padding: 15px;
  }

  .text_1{
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 50px;
     margin-right: 50px;
     padding: auto;
  }

  .text_1 h1{
        text-align: center;
        font-size: 30px;
        color: #000000;
        margin-bottom: 20px;
  }

  .text_1 p{
        text-align: justify;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
  }

  .text_1 li{
    text-align: justify;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
  }

  #newsletter {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      background-image: url(img/bar/b14.png);
      background-repeat: no-repeat;
      background-position: 20% 30%;
      background-color: #0053B3;
  }

  #newsletter h4 {
      font-size: 26px;
      font-weight: 700;
      color: #fff;

  }

  #newsletter p {
      font-size: 18px;
      font-weight: 800;
      color: yellow;

  }

  #newsletter p span {
      font-size: 18px;
      font-weight: 800;
      color: #b36000;

  }

  #newsletter .form {
      display: flex;
      width: 50%;
  }

  #newsletter input {
      height: 3.12rem;
      padding: 0 0.125em;
      font-size: 16px;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 4px;
      outline: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

  #newsletter button {
      font-size: 18px;
      font-weight: 800;
      padding: 15px 30px;
      color: #fff;
      background-color: #0053B3;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.3s;
      white-space: nowrap;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;

}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer p {
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 14px;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: #b36000;
    margin-bottom: 10px;
}

footer.follow {
    margin-top: 20px;
}

footer.follow i {
    color: #0053B3;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #0053B3;
    border-radius: 8px;
}

footer .install img {
    margin: 12px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #0053B3;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

.form1 label {
    font-size: 0.85em;
    margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],
input[type=email]
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

 textarea{
    width: 100%;
    padding: 20px;
    height: 20vh;
    resize: none;

}

input[type=submit]
{
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
  @keyframes underline {
      0% {
          width: 0%;
      }

      100% {
          width: 100%;
      }
  }

  nav #check:checked~ul {
      left: 0;
      transition: .5s all ease-in-out;
  }

  .container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }

  .container h1 {
      font-size: 60px;
  }

  #grad1{
    background-image: linear-gradient(to top, rgba(179, 96, 0, 0), rgba(179, 96, 0, 1));
  }

  @media (max-width:900px) and (min-width:650px) {
      nav.logo {
          margin-left: 10px;
      }

      nav ul {
          margin-right: 0px;
      }

      nav ul li {
          margin-right: 10px;
      }

      nav ul li a {
          font-size: 16px;
      }
  }

  @media (max-width:650px) {
      nav {
          height: 100px;
      }

      nav label {
          display: flex;
          order: 0;
          margin-right: 20px;
      }

      nav ul {
          top: 60px;
          left: -100%;
          padding-left: 10px;
          position: fixed;
          flex-direction: column;
          background-color: #b36000;
          height: 100vh;
      }

      nav ul li {
          margin-top: 20px;
      }

      nav ul li a {
          color: #fff;
      }

      nav ul li a::after {
          background-color: #b36000;
      }

      .container h1 {
          font-size: 30px;
      }

    .button1 
        {
              display: block;
              margin: 0.4em auto;
        }
  }
