 body{
        height: fit-content;
    display: flex;
    justify-content: center;
     height: 100%;
     background-color: #b36000;
}

  header {
          margin-bottom: 100px;
  }
  
.container{
        align-items: flex-start;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: #b36000;
        box-sizing: border-box;
        box-shadow: 0 15px 25px black;
        border-radius: 10px;
}
.segment h1{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.user-box input{
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
}

.user-box label{
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #ffff;
    font-size: 12px;
}

.c1 {
        height: 20px;
        position: relative;
        border: 3px transparent;
}
.btn input[type=Submit]{
        background-color: transparent;
                display: inline-block;
                padding: 0.35em 1.2em;
                border: 0.1em solid #FFFFFF;
                margin: 0 0.3em 0.3em 0;
                border-radius: 0.12em;
                box-sizing: border-box;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                color: #FFFFFF;
                text-align: center;
                transition: all 0.2s;
                position: absolute;
                top: 30%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin-top: 20px;
                margin-bottom: 30px;
}

.btn input[type=Submit]:hover{
        color: #000000;
        background-color: white;
}

.btn a {
        background-color: transparent;
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.2s;
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: 120px;
        margin-bottom: 30px;
}

.btn a:hover {
        color: #000000;
        background-color: white;
}
select {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
}
footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

footer .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
}

footer .logo {
        margin-bottom: 30px;

}

footer h4 {
        font-size: 16px;
        padding-bottom: 20px;
}

footer p {
        font-size: 14px;
        margin: 0 0 8px 0;
}

footer a {
        font-size: 14px;
        margin: 0 0 8px 0;
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
}

footer.follow {
        margin-top: 20px;
}

footer.follow i {
        color: #0053B3;
        padding-right: 4px;
        cursor: pointer;
}

footer .install .row img {
        border: 1px solid #0053B3;
        border-radius: 8px;
}

footer .install img {
        margin: 12px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
        color: #0053B3;
}

footer .copyright {
        width: 100%;
        text-align: center;
}

.form1 label {
        font-size: 0.85em;
        margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
footer input[type=text],
footer input[type=email] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
}

footer textarea {
        width: 100%;
        padding: 20px;
        height: 20vh;
        resize: none;

}

footer input[type=submit] {
        background-color: black;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}

@media all and (max-width:30em) {
        input[type=submit] {
                display: block;
                margin: 0.4em auto;
        }
}